body{
    background-color: purple;
    display:flex;
    align-items: center;
   justify-content: center;
    height:100vh;

}
h2{
    color:white;
    text-align: center;
}
.btn{
    background-color: black;
    color:white;
    font-size:16px;
    border:none;
    width:100%;
    padding:10px 0px;
    border-radius: 5px;
    cursor: pointer;

}

.container{
    min-width:500px;
    border:1px solid white;
    padding:20px;
    border-radius: 5px;

}

.pic{
    width:150px;
    border-radius: 50%;
    margin-right:50px;
}

.flex-container{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    
}

.details p{
    font-size:18px;
    color:white;

}
.det{
    font-weight:bold;
}

.error-mess{
    font-size: 20px;
    color:red;
    text-align: center;
}